.shop-image-container {
    max-height: 250;
    min-height: 250;
    max-width: 300px;
    min-width: 300px;
    border: 2px soild red;
    border-radius: 8px;
    box-shadow: 2px 1px 3px 1px #dadada;
}

.shop-image-container img {
    max-height: 250px;
    min-height: 250px;
    max-width: 300px;
    min-width: 300px;
    z-index: -1;
    object-fit: cover;
    border-radius: 8px;
    padding: 1px;
}