.search input {
    border: 2px solid grey !important;
    border-radius: 8px;
    width: 15rem !important;
    text-align: center;
    transition: all 1s ease-out!important;
  }
  
  .search input:focus,
  .search input:hover {
    width: 22rem !important;
  }