.search input {
    border: 2px solid grey !important;
    border-radius: 8px;
    width: 15rem !important;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 18px;
    color: darkturquoise;
    transition: all 0.5s ease-out!important;
  }

  .search input::placeholder {
    letter-spacing: 0.4rem;
    font-size: 14px;
    font-weight: bold;
    color: darkslategray;
  }
  
  .search input:focus,
  .search input:hover {
    width: 22rem !important;
    height: 4rem;
  }